.desg{
   display: flex;
   gap: 30px;
   margin-inline-start: 20px;
}

input{
    margin: 20px;
}

h2{
    margin-left: 20px;
}

.desg2{
    display: flex;
    
    gap: 20px;
    margin-left: 20px;
}

body{
   background-image:url('https://media.istockphoto.com/id/1320354967/vector/vector-background-with-white-abstract-wave-dots.jpg?s=612x612&w=0&k=20&c=3b7EEgt6DaSSmxofzPsuj3beRhUVPSak2QWChFzozrc=');
   background-repeat: no-repeat;
   background-size: cover;
}